body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.bike-container img {
  max-width: 200px;
}

/* Error page CSS */
.error-page {
  font-family: 'Ropa Sans', sans-serif;
  margin-top: 30px;
  background-color: #f0ca00;
  background-color: #f3661c;
  text-align: center;
  color: #fff;
}
.error-heading {
  margin: 50px auto;
  width: 250px;
  border: 5px solid #fff;
  font-size: 126px;
  line-height: 126px;
  border-radius: 30px;
  text-shadow: 6px 6px 5px #000;
}
.error-heading img {
  width: 100%;
}
.error-main h1 {
  font-size: 72px;
  margin: 0px;
  color: #f3661c;
  text-shadow: 0px 0px 5px #fff;
}
/* End of Error page CSS */

/* form */
/* @import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');
* {
  font-family: 'Saira Semi Condensed', sans-serif;
  transition: all 0.5s ease;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.edit-bike-form {
  width: 400px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.edit-bike-form div,
.edit-bike-form label,
.edit-bike-form input,
.edit-bike-form textarea {
  width: 100%;
}

.field:nth-of-type(2) {
  margin: 16px 0;
}

label,
input,
textarea {
  padding: 8px;
}

label,
[placeholder] {
  color: #555;
}

label i {
  margin: 0 10px 0 0;
}

.field:focus-within label {
  color: #000;
  letter-spacing: 2px;
}

input,
textarea {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px #555;
}
input:focus,
textarea:focus {
  background: white;
  box-shadow: none;
}

textarea {
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 0;
}

.edit-btn {
  background: #2f4ad0;
  margin: 16px 0 50px 0;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 8px 6px -6px #555;
}
.edit-btn:hover {
  letter-spacing: 2px;
  box-shadow: none;
}
@media (max-width: 425px) {
  .edit-bike-form {
    width: 100%;
  }
} */
/* form */
